/* --------------------------- */
/*            SUMMARY          */
/* --------------------------- */

/*
L.37    GENERALS
L.65    HEADER
L.114   SECTION
L.257   FOOTER
L.281   MEDIA QUERIES (min 1024px)
L.456   MEDIA QUERIES (max 417px)
*/

/* --------------------------- */
/*            COLORS           */
/* --------------------------- */

/*
bleu:       #81D4FA
orange:     #FFD54F
gris foncé: #424242 / rgb(66,66,66)
blanc:      #FFFFFF
noir:       #000000
*/

/* --------------------------- */
/*            POLICE           */
/* --------------------------- */

/*
Trebuchet MS, Verdana, Arial
*/



/* --------------------------- */
/*           GENERALS          */
/* --------------------------- */

/* ---- police + margin body---- */
body {
    font-family: 'Trebuchet MS', Verdana, Arial;
    margin: 0px;
}

/* ---- marges maximales site ---- */
.marge_max {
    max-width: 2000px;
    margin: auto;
}

/* ---- padding des éléments ---- */
.padding {
    padding: 0px 20px;
}

/* ---- couleur de fond bleu ---- */
.color_background {
    background-color: #81D4FA;
}



/* --------------------------- */
/*            HEADER           */
/* --------------------------- */

/* ---- couleur titre h1 ---- */
.name_color{
    color: #FFD54F;
}

/* ---- marges titre h1 ---- */
header h1 {
    margin-bottom: 10px;
    margin-top: 10px;
}

/* ---- marges + taille titre h2 ---- */
header h2 {
    margin-bottom: 2px;
    margin-top: 0px;
    font-size: 1.2em;
}

/* ---- soulignement dans header ---- */
.header_separator {
    width: 60px;
    border: 1px #FFD54F solid;
}

/* ---- photo ---- */
header figure {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0px;
}

/* ---- bordure de la photo ---- */
.cercle {
    width: 215px;
    height: auto;
    max-width: 100%;
    border-radius: 50%;
    border: 4px solid rgba(66,66,66,0.2) ;
    border-style: inset;
    display: block;
    margin: auto;
}



/* --------------------------- */
/*            SECTION          */
/* --------------------------- */

/* ---- taille titre h2 ---- */
.contact h2, .a_propos h2, .formation h2, .experience h2, .recommandations h2, footer h2 {
    font-size: 1.4em;
}

/* ---- couleur titre h2 ---- */
.contact h2, .a_propos h2, footer h2 {
    color: #FFD54F;
}

/* ---- marges titre h2 ---- */
.formation h2, .experience h2, .recommandations h2 {
    margin-bottom: 0px;
    margin-top: 0px;
}

/* ---- couleur h3/h4 ---- */
h3, h4 {
    color: #424242;
}

/* ---- taille + marges titre h3 ---- */
h3 {
    font-size: 1.2em;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* ---- taille + marges titre h4 ---- */
h4 {
    font-size: 1em;
    margin-top: 0px;
    margin-bottom: 10px;
}

/* ---- couleur texte ---- */
p, ul li {
    color: #424242;
}

/* ---- taille texte ---- */
p {
  font-size: 1em;
}

/* ---- taille texte puces ---- */
ul li {
  font-size: 1.2em;
}

/* ---- marges texte ---- */
.bloc2 p, .bloc4 p, .bloc6 p, .bloc8 p {
    margin-top: 0px;
    margin-bottom: 20px;
}

/* ---- style gras ---- */
.bold {
    font-weight: bold;
}

/* ---- texte souligné ---- */
.underline {
    text-decoration: underline;
    padding-bottom: 20px;
}

/* ---- titre des catégories ---- */
.container_categories {
    background-color: #424242;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

/* ---- texte centré ---- */
.text_center {
    text-align: center;
}

/* ---- icônes graphiques ---- */
.fa-graduation-cap, .fa-briefcase, .fa-pencil-alt {
    color: #FFD54F;
    margin-right: 20px;
    font-size: 1.4em;
}

/* ---- couleur separator ---- */
.section_separator {
    border: 1px #FFD54F solid;
    margin-top: 5px;
}

/* ---- style puces + marge début ---- */
ul {
    list-style-type: none;
}

/* ---- marge haut puces ---- */
.bloc1 ul, .bloc5 ul {
    margin-top: 20px;
}

/* ---- icône puce double cercle ---- */
.fa-bullseye {
  color: #FFD54F;
  margin-left: -40px;
  font-size: 0.8em;
  margin-right: 25px;
}

/* ---- icône puce rond plein ---- */
.fa-circle {
  color: #FFD54F;
  margin-left: -40px;
  font-size: 0.6em;
  margin-right: 28px;
}

/* ---- marges bloc2 et bloc4 ---- */
.container_bloc2, .container_bloc4 {
    margin-top: 40px;
}

/* ---- titre recommandations ---- */
.recommandations h5 {
    font-size: 0.9em;
    margin-bottom: 10px;
}

/* ---- marges recommandations ---- */
.recommandations p {
    margin-top: 0px;
    margin-bottom: 23px;
}



/* --------------------------- */
/*            FOOTER           */
/* --------------------------- */

/* ---- icônes ---- */
footer i {
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #424242;
}

.fa-camera, .fa-xbox, .fa-plane {
    border: 2px #424242 solid;
    border-radius: 50%;
    padding: 6px;
}

.fa-camera, .fa-xbox {
    margin-right: 40px;
}



/* --------------------------- */
/*     MEDIA QUERIES 1024px    */
/* --------------------------- */


/* -------------------- */
/*      SUMMARY         */
/* -------------------- */

/*
L.294    GENERALS
L.341    HEADER
L.378   SECTION
L.432   FOOTER
*/


@Media all and (min-width: 1024px) {

/* --------------------------- */
/*          GENERALS           */
/* --------------------------- */

    /* ---- taille colonne bleu ---- */
    .aside {
        width: 30%;
    }

    /* ---- taille colonne blanche ---- */
    .section {
        width: 63%;
    }

    /* ---- taille texte ---- */
    p {
        font-size: 1.2em;
    }

    /* ---- taille h2 ---- */
    .contact h2, .a_propos h2, .formation h2, .experience h2, .recommandations h2, footer h2 {
        font-size: 1.6em;
    }

    /* ---- taille h3 ---- */
    h3 {
        font-size: 1.4em;
    }

    /* ---- taille h4 ---- */
    h4 {
        font-size: 1.2em;
    }

    /* ---- taille h5 ---- */
    .recommandations h5 {
        font-size: 1.1em;
    }

    /* ---- espace entre partie bleu/blanche ---- */
    .container_header, .container_bloc, .container_lastbloc {
        display: flex;
        justify-content: space-between;
    }



/* --------------------------- */
/*           HEADER            */
/* --------------------------- */

    /* ---- soulignement dans header ---- */
    .header_separator {
        width: 80px;
    }

    /* ---- changement place photo/nom ---- */
    .name:nth-child(1) {
        order: 2;
    }

    /* ---- nom ---- */
    .name {
        font-size: 1.4em;
        height: 340px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /* ---- marge top h1 ---- */
    header h1 {
        margin-top: 0px;
    }

    /* ---- photo ---- */
    header figure {
        margin-top: 0px;
        height: 300px;
        display: flex;
    }



/* --------------------------- */
/*           SECTION           */
/* --------------------------- */

    /* ---- texte justifié ---- */
    .text_justify {
        text-align: justify;
    }

    /* ---- taille blocs ---- */
    .bloc1, .bloc3, .bloc5, .bloc7 {
        width: 45%;
    }

    .bloc2, .bloc4, .bloc6, .bloc8 {
        width: 54%;
    }

    /* ---- bloc formation/experience ---- */
    .container_bloc1, .container_bloc2, .container_bloc3, .container_bloc4 {
        display: flex;
    }

    /* ---- marges du bas bloc ---- */
    .bloc4 p, .bloc8 p {
        margin-bottom: 80px;
    }

    .bloc2 p, .bloc6 p {
        margin-bottom: 0px;
    }

    /* ---- marge du haut bloc ---- */
    .container_bloc2, .container_bloc4 {
        margin-top: 40px;
    }

    .bloc3 ul, .bloc4 h3, .bloc7 ul, .bloc8 h3 {
        margin-top: 0px;
    }

    /* ---- changement place recommandations/loisirs ---- */
    .recommandations:nth-child(1) {
        order: 2;
    }

    /* ---- recommandations ---- */
    .container_recommandations {
        display: flex;
        justify-content: space-around;
    }



/* --------------------------- */
/*           FOOTER            */
/* --------------------------- */

    /* ---- icônes loisir ---- */
    .icones {
        display: flex;
        height: 120px;
    }

    .icones i {
        margin: auto;
        font-size: 2.5em;
    }
}



/* --------------------------- */
/*     MEDIA QUERIES 417px     */
/* --------------------------- */

@Media all and (max-width: 417px) {

    /* ---- alignement titre experience pro ---- */
    .experience h2 {
        display: flex;
    }
}
